<h2 class="text-amber-500 text-4xl mb-5">Edit Balance</h2>

<div class="bg-black p-5 rounded-lg">
  <%= form_with model: @user, url: user_money_path do |form| %>
    <div>
      <%= form.label "Balance" %>
      <br>
      <%= form.number_field :money, step: :any, class: "text-black w-1/2", required: true %>
    </div>

    <div>
      <%= form.submit "Update balance", class: "inline-block bg-amber-500 p-3 mt-5 cursor-pointer hover:text-black" %>
    </div>
  <% end %>
</div>