<div> This is trader SHOW </div>

<div> <%= @trader.email %> </div>



<div> <%= @trader.approved_status %> </div>

<div>
  <%= form_with model: [:admin, @trader] do |form| %>
    <%= form.check_box :approved, onchange: "this.form.submit();" %>
  <% end %>
</div>